@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=GFS+Didot&family=Pinyon+Script&family=Poppins:wght@200;300;400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
    --vermelho-forte: #ee0000;
    --main-color: #801818;
    --bege-dourado:#ae8648;
    --bege: #C0A788;
    --black: #000000;
    --qse-black: #1e1e1e;
    --border: 1rem solid #747474;
}

*{
    margin: 0; padding: 0;
    outline: none; border: none;
    text-decoration: none;
}

.background {
  background: url(../../images/background-card-dark.png) no-repeat top center;
  background-size: 100% 100%;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--bege);
    border-radius: 5rem;
}

html {
  scroll-behavior: smooth;
}

section{
    padding: 2rem 10%;
}

body{
  background-color: #000;
  width: 100%;
  background: var(--black);
}

/* Global Styles ends*/


/* HEADER */


img.logo{
  width: 100px;
  height: 100px;
  margin-right: 600px;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #000;
  box-shadow: 0 5px 15px #111111;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0.6;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;

}

#navbar li, li.link{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a, li.link a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #747474;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li.link a:hover,
#navbar li a.active,
#navbar li.link a.active{
  color: #C0A788;
}

#navbar li.link a.active::after,
#navbar li.link a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #C0A788;
  position: absolute;
  bottom: 27px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

/* RESPONSIVIDADE */

@media (max-width:799px) {
    .section-p1{
      padding: 40px 40px;
    }
  
    #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #000;
      box-shadow: 0 5px 10px #111;
      padding: 80px 0 0 10px;
      transition: 0.3s;
    }
  
    #navbar.active{
      right: 0px;
    }
  
    #navbar li.link a.active::after,
    #navbar li.link a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #C0A788;
    position: absolute;
    bottom: -5px;
    left: 20px;
    }
  
    #navbar li{
      margin-bottom: 29px;
    }
  
    #mobile{
      display: flex;
      align-items: center;
    }
  
    #mobile i{
      color: #747474;
      font-size: 24px;
      padding-left: 20px;
    }
  
    #mobile a{
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: #747474;
      transition: 0.3s ease;
    }
    
    #mobile i:hover,
    #mobile a:hover{
      color: #C0A788;
    }
  
    #close{
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #3b3b3b;
      font-size: 24px;
    }
  
    #close:hover{
      color: #C0A788;
    }
  
    #lg-bag{
      display: none;
     }
    } /* fecha @media (799px) */

    @media (max-width: 477px) {
      .section-p1{
        padding: 20px;
      }
    
      #header{
        padding: 10px 30px;
      }
    
    } /* fecha @media (477px) */

/* FECHA HEADER*/


/*about us*/
.heading{
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
}

.about .row{
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: var(--black);
  flex-wrap: wrap;
}
.about .row .image{
  flex: 1 1 3rem;
}
.about .row .image img{
  border-radius: 15px 0 0 15px;
  width: 100%;
}
.about .row .content1{
  flex: 1 1 45rem;
  padding: 2rem;
}
.about .row .content1 h3{
  font-family: "Poppins", sans-serif;;
  font-size: 3rem;
  color: white;
}
.about .row .content1 p{
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: white;
  padding: 1rem 0;
  line-height: 1.8;
}

  /*contato*/
  .contact{
    position: relative;
    min-height: 65vh;
    padding: 50px 100px;
    display: flex;
    margin-top: 30px;
    align-items:center;
    flex-direction: column;
    background: var(--black);
  }

  .contact .content{
    max-width: 800px;
    text-align: center;
  }

  .contact .content h2{
    color:var(--bege);
    font-size: 36px;
    font-weight: 500;
    font-family:"Poppins", sans-serif;;
  
  }

  .contact .content p{
    font-weight: 400;
    font-size: 15px;
    color: white;
    font-family: "Raleway", sans-serif;
  
  }

  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30;
  }

  .container .contactInfo{
    margin-left:350px ;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
  }

  .container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    background-color: var(--bege);
  }

  .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
    color: white;
  }

  .container .contactInfo .box .text h3{
    font-weight: 500;
    color: var(--bege);
  }

  .contactForm{
    margin-right: 200px;
    margin-top: 50px;
    width: 40%;
    padding: 40px;
    background-color: var(--border);

  }

  .contactForm h2{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: var(--bege);
  }

  .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  .contactForm .inputBox input,
  .contactForm .inputBox textarea{
    width: 100%;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }

  .contactForm .inputBox span{
    position: absolute;
    left: 0;
    margin-left: 15px;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--qse-black);
  }

  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span{
    color: var(--bege);
    font-size: 12px;
    transform: translateY(-20px);
  }

  .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background-color: var(--bege);
    color: var(--black);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  button:hover {
    color: var(--bege);
    background: var(--black);
  }

  @media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
  }

  
/*FOOTER*/
footer{
  font-family: "Spartan", sans-serif;
  padding: 5rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(21, 21, 21);
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 10px;
  margin-top: -20px;
}

img.logo{
  width: 100px;
  height: 100px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
  color: #939292;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
  color: #7c7c7c;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #7c7c7c;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 8px;
  margin-left: 20px;
}

footer .follow i{
  color: #7c7c7c;
  padding-right: 4px;
  cursor: pointer;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
  color: #C0A788;
}

footer .copyright{
  width: 100%;
  text-align: center;
}

/* RESPONSIVIDADE */

@media (max-width:799px) {
  .section-p1{
    padding: 40px 40px;
  }

} /* fecha @media (799px) */

@media (max-width: 477px) {
  .section-p1{
    padding: 20px;
  }

  footer .copyright{
    text-align: start;
  }

} /* fecha @media (477px) */