@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=GFS+Didot&family=Pinyon+Script&family=Poppins:wght@200;300;400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
    --vermelho-forte: #ee0000;
    --main-color: #801818;
    --bege-dourado:#ae8648;
    --bege: #C0A788;
    --black: #000000;
    --qse-black: #1e1e1e;
    --border: 1rem solid #747474;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
 
body{
  background-color: #000000;
}

#product1 h3 {
      font-size: 5rem;
      color: #fff;
      font-family: "Pinyon Script", cursive;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.7rem;
      text-align: center;
}

.wine {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #c8c8c8;
  font-size: 2em;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  font-style: italic;  
  text-align: center;
}

h2 {
  
  font-size: 2rem;
  line-height: 0px;
  color: #C0A788;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 18px;
  color: #747474;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* HEADER */

img.logo{
  width: 100px;
  height: 100px;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #000;
  box-shadow: 0 5px 15px #111111;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li, li.link{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a, li.link a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #747474;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li.link a:hover,
#navbar li a.active,
#navbar li.link a.active{
  color: #C0A788;
}

#navbar li.link a.active::after,
#navbar li.link a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #C0A788;
  position: absolute;
  bottom: 27px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

/* OUR WINES */
/*
#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  background-color: #0c0c0c;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgb(7, 7, 7);
}



#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #C0A788;
  font-size: 14px;
}

#product1 .pro .des i{
  font-size: 12px;
  color: darkgoldenrod;
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #E8E8E8;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #3b3b3b;
  font-weight: 500;
  color: #747474;
  border: 1px solid #1a1a1a;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product1 .pro .cart:hover{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #3b3b3b;
  font-weight: 500;
  color: #C0A788;
  border: 1px solid #1a1a1a;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
*/

/*card luiz*/
.pro-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 100px;
  justify-content: center; 
}

.pro {
  flex: 1;
  background-image: url(../../images/background-card-dark.png);
  width: 300px;
  height: 380px;
  padding: 25px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  transition: 0.3s ease;
  flex-basis: 240px; 
  flex-grow: 0; 
  flex-shrink: 0; 
  }

  .card-container {
    display: flex;
  }

  .product-img {
    width: 150px;
    height: 220px;
    border-radius: 5px;
    transition: 0.5s ease;
    margin-left: 0px;
    padding-right: 40px;
  }

  .preco {
    margin: 70px 0px 0px 0px;
    font-size: 1.7em;
    align-items: center;
    line-height: 30px;
  }

  .price{
    color: #fff;
    font-size: 1.7em;
    font-weight: 400;
  }

  .des{
    margin-top: 25px;
    font-size: 1.6em;
    line-height: 0;
    align-items: left;
    font-family: "Poppins", sans-serif;
  }

  .estrelas-avaliacao {
    color: #9c1b10;
    align-items: center;
    font-size: 2.1em;
  }

h4{
  font-family:"Poppins", sans-serif;
}

a{
  color: #fff;
}

.des h5{
  display: block;
  
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}


.des .descricao-produto{
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


.star{
  margin-top: 5px;
  color: #791717;
}




/*hover do card*/

.pro:hover {
  transform: scale(1.1);
}

.pro:hover .product-img {
  transform: translateY(-25%);
}




/* PAGINAÇÃO*/
#pagination{
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #1a1a1a;
  padding: 15px 20px;
  border-radius: 4px;
  color: #747474;
  font-weight: 600;
}

#pagination a:hover{
  background-color: #3b3b3b;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/*FOOTER*/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 10px;
  margin-top: -20px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
  color: #747474;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
  color: #606063;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #606063;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 8px;
  margin-left: 20px;
}

footer .follow i{
  color: #606063;
  padding-right: 4px;
  cursor: pointer;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
  color: #C0A788;
}

footer .copyright{
  width: 100%;
  text-align: center;
}

/* RESPONSIVIDADE */

@media (max-width:799px) {
  .section-p1{
    padding: 40px 40px;
  }

  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #000;
    box-shadow: 0 5px 10px #111;
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active{
    right: 0px;
  }

  #navbar li.link a.active::after,
  #navbar li.link a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #C0A788;
  position: absolute;
  bottom: -5px;
  left: 20px;
  }

  #navbar li{
    margin-bottom: 29px;
  }

  #mobile{
    display: flex;
    align-items: center;
  }

  #mobile i{
    color: #747474;
    font-size: 24px;
    padding-left: 20px;
  }

  #mobile a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #747474;
    transition: 0.3s ease;
  }
  
  #mobile i:hover,
  #mobile a:hover{
    color: #C0A788;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #3b3b3b;
    font-size: 24px;
  }

  #close:hover{
    color: #C0A788;
  }

  #lg-bag{
    display: none;
   }

  #product1 .pro-container{
    justify-content: center;
  }

  #product1 .pro{
    margin: 15px;
  }

} /* fecha @media (799px) */

@media (max-width: 477px) {
  .section-p1{
    padding: 20px;
  }

  #header{
    padding: 10px 30px;
  }

  h1{
    font-size: 38px;
  }

  h2{
    font-size: 32px;
  }

  footer .copyright{
    text-align: start;
  }

  



} /* fecha @media (477px) */